#navbar {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    margin-left: 0;
    position: fixed;
}
body{
    background-color: black;
}

#logo {
    margin: -41px -10px;
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0;
    height: 15%;
    width: 100%;
    z-index: -1;
    margin: 0px 0px;
    top: 0;
    left: 0;

}

#logo img {
    padding: 21px;
    margin: 7px -15px;
    height: 100px;
}
#navbar ul{
    display: flex;
}
#navbar li{
    display: block;
    
    list-style: none;
    margin: 16px 22px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}
#navbar li a{
    text-decoration: none;
    color: aliceblue;
}
#navbar li a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 4px;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}
#home p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(spaghetti-g811ff3d98_1920.jpg)  no-repeat center center/cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    z-index: -1;
}

#home .h1-primary{
    color: white;
    text-align: center;
    
}
.h1-primary{
    font-size: 1.8rem;
    
}
#order{
    padding: 2px 2px;
    border: 2px solid white;
    font-size: 1.5rem;
    border-radius: 15px ;
    background-color: brown;
    cursor: pointer;
    
}
#order a{
    text-decoration: none;
    color: black;
}
#services{
    display: flex;
}

#services img{
    margin: auto;
    display: block;
    height: 200px;
}

#services .box-1{
    border: 2px solid brown;
    padding: 34px 34px;
    background-color: grey;
    margin: -10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background: #f3f1f1;
    align-items: center;
    justify-content: center;
    
    
    
}
#services .box-2{
    border: 2px solid brown;
    padding: 34px 34px;
    background-color: grey;
    margin: -10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background: #f3f1f1;
    align-items: center;
    justify-content: center;
    
    
    
}
#services .box-3{
    border: 2px solid brown;
    padding: 34px 34px;
    background-color: grey;
    margin: -10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background: #f3f1f1;
    align-items: center;
    justify-content: center;
    
    
    
}
@keyframes boxhighlight{
    from{
        margin: -10px 20px;
    }
    to{
        margin: -15px 30px;
    }
}
#services .box-1:hover{
    margin: -15px 30px;
    animation-name: boxhighlight;
    animation-duration: 0.5s;
}
#services .box-2:hover{
    margin: -15px 30px;
    animation-name: boxhighlight;
    animation-duration: 0.5s;
}
#services .box-3:hover{
    margin: -15px 30px;
    animation-name: boxhighlight;
    animation-duration: 0.5s;
}
#services .box-3 a{
    text-decoration: none;
    color:black;
    text-align: center;
}
#services .box-1 a{
    text-decoration: none;
    color:black;
    text-align: center;
}
#services .box-2 a{
    text-decoration: none;
    color:black;
    text-align: center;
}

    
#services-container h1{
    font-size: 2rem;
    color: white;
    text-align: center;
    display: block;
    margin-top: 20px;
    
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
#client-container h1{
    font-size: 2rem;
    color: white;
    text-align: center;
    display: block;
    margin-top: 60px;
    font-family: 'Ubuntu', sans-serif;
}
.clients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.clients img{
    height: 100px;
    margin: 20px 20px;
}
#client-container::before{
    content: "";
    position: absolute;
    background: url(9057b6fa2816639.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}
#contact-container h1{
    font-size: 2rem;
    color: black;
    text-align: center;
    display: block;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}
#contact-container::before{
    content: "";
    position: absolute;
    background: url(contact.jpg) no-repeat center center/cover;
    margin-top: -17px;
    width: 100%;
    height: 65%;
    z-index: -1;
    opacity: 1;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
#contact-container .details{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
#contact-container form input,textarea{
    width: 100%;
    padding: 2px;
}
#contact-container label{
    font-size: 1rem;
    font-weight:bold;
}
#submit{
    display: block;
    margin: auto;
    color: white;
    background-color: red;
    padding: 10px 15px;
    font-weight: bold;
    border: 2px solid black;
    width: 100%;
}
#submit :hover{
    cursor: pointer;
}



